---
import DeviceManager from '../components/DeviceManager.jsx';
---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Dispositivos</title>
  </head>
  <body>
    <DeviceManager client:load/>
  </body>
</html>