---
import '../styles/global.css';   /*  тна  activa Tailwind  */
---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Geolocalizer TFG</title>
  </head>

  <body class="bg-gradient-to-b from-[#C9D6BD] to-[#597D60] min-h-screen flex items-center justify-center">
    <h1 class="text-4xl text-white font-bold">
      Hola Astro + Tailwind
    </h1>
  </body>
</html>
