---
import "../styles/global.css";
import Sidebar from "../components/Sidebar.jsx";

const { children, showSidebar = true } = Astro.props;
const currentPath = Astro.url.pathname;
---

<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Geolocalizer</title>
  </head>
  <body class="font-sans min-h-screen bg-gradient-to-b from-primary-light to-primary-dark text-accent-dark antialiased">
    {showSidebar && <Sidebar currentPath={currentPath} />}

    <main
      class={`min-h-screen flex flex-col items-center justify-center py-20 ${
        showSidebar ? "ml-52" : ""
      }`}
    >
      <slot />
    </main>
  </body>
</html>
